<h1>Categories</h1>

<ul>
  <% @categories.each do |category| %>
    <li><%= link_to category.description, category_path(category) %></li>
  <% end %>
</ul>

<%= link_to 'New Category', new_category_path %>
